---
layout: page
title: Niranjani Prasad
---

<img class="col one right" src="/img/prof_pic2.jpg">

 I'm a first year PhD student in Computer Science at Princeton University, advised by Professor <a href="http://beehive.cs.princeton.edu/" target="blank">Barbara Engelhardt</a>. 
<br/><br/>

In 2013, I graduated from the University of Cambridge in Information and Computer Engineering (BA, MEng). Following this, I spent two years working at a <a href="https://www.speechmatics.com/" target="blank">start-up</a>, on research and development of speech recognition software. 

<br/><br/>

My current research interests are primarily in machine learning methods motivated by clinical medicine, spanning reinforcement learning, time series modelling, natural language processing and knowledge representation. 

<div id="research"></div>
<br/>
<br/>
<hr/><hr/>
<br/>

 <h3>Projects</h3> 
<br>

{% for project in site.portfolio %}

{% if project.redirect %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ project.redirect }}" target="_blank">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% else %}

<div class="project ">
    <div class="thumbnail">
        {% if project.img %}
                <a href="{{ site.baseurl }}{{ project.url }}">
<img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>

{% endif %}

{% endfor %}

<br/>

<!--<b> Reinforcement learning approach to ICU sedation and mechanical ventilator weaning: </b>
The majority of intensive care unit patients are administered intravenous sedatives with the goal of maintaining physiological stability and comfort during mechanical ventilation. Efforts to reduce the duration of ventilation via weaning and sedation protocols can greatly improve clinical outcomes and reduce costs but opinion on the best protocols vary, due to a lack of robust evidence. I'm looking at applying reinforcement learning to inform the control of sedation levels given vital readings, and predict when a patient is ready to undergo a spontaneous breathing trial (SBT) in preparation for extubation.

<br/>

<br/>
<h4> Class Projects </h4><hr/>


<br/>

<a href="https://kiranvodrahalli.github.io/projects/cos513/" target="blank">Sparse, Low-dimensional and Multimodal Representations of Time Series for Mind-Reading</a>
<br>

<i>This is joint work with Kiran Vodrahalli and Lydia Liu, under the guidance of Barbara Engelhardt.</i>

<br><br>

We introduce a new lens through which to analyse time-series brain data, with emphasis on sparse, low-dimensional joint representations of MEG and EEG data. Our main contribution is empirical validation suggesting that multimodal sparse CCA is able to achieve a low-dimensional representation of time series brain data which retains predictive and generative power. We also validate our methods using EEG representations of fMRI data: by using spatial information encoded by paired EEG-fMRI data with sparse CCA, we verify that these joint representations have predictive power by training SVMs to distinguish states of attention from base states.


<br/>
<br/>
<!--<a href="https://docs.google.com/presentation/d/1_ocP1hP9XnRK0uPfdkpu462ZgIL_vxmIgymB9jtj6Pc/edit?usp=sharing" target="blank">Automatic Neuron Segmentation from Two-Photon Excitation Microscopy Times Series Data</a>-->
<!--<a target="blank">Automatic Neuron Segmentation from Two-Photon Excitation Microscopy </a> 
<br>

<i>This is joint work with Rob Aguilar, Noah Apthorpe, Hussein Nagree and Cyril Zhang, advised by Sebastian Seung.</i>

<br><br>

We consider a dataset of 2-photon microscopy image sequences recorded through a cranial window in GCaMP transgenic mice, showing V1 neuronal activation patterns over time (through increased GFP fluorescence).
Analysis this data requires distinguishing neurons in the image focal plane from other objects, e.g. blood vessels, dendritic branches, and neurons fluorescing above and below the focal plane. The task of neuron identification and boundary detection is currently performed manually but is potentially amenable to automation through various machine learning approaches, such as SVMs or convolutional neural nets.


<br/>
<br/>

<!--LiveMau5: extracting neuron boundaries for physiological images of rat brain

<br/>
<br/> -->

<!--<h4> Master's Thesis </h4><hr/> 


<!--<img class="col one left" src="/img/nao_hearing.png">-->
<br/>

<!--<b> Adaptive Speaker Recognition: </b><!-- <i> Advised by Elena Punskaya </i> -->
<!--This project involves the design and development of an adaptive speaker recognition algorithm, tailored for implementation in the Nao domestic service robot. It is targeted at the Chinese market, as an extension to conventional smart home solutions. 
The problem can be defined as text independent open set identification: the proposed algorithm distinguishes between a small set of known speakers, and identifies a new speaker as unknown. It is designed to operate in real time and adapt to changes in the voices of the registered speakers. Various signal processing methods are explored to make system robust to both background disturbances and internal robot noise.  UBM-GMM speaker models trained from MFCC features comprise the core of a maximum-likelihood based identification system, with MAP adaptation to address session variability and speaker drift. <!--The proposed strategy achieves an identification rate of 90% and a rejection accuracy of 64%. -->
.
<br/>
<br/> 
<hr/>
<hr/>

<br/>

<h3>Publications </h3>

<br>

Williams W, <b> Prasad N</b>, Mrva D, Ash T, Robinson T, "<a href="http://arxiv.org/pdf/1502.00512.pdf" target="blank">Scaling Recurrent Neural Network Language Models</a>" <i>IEEE International Conference on Acoustics, Speech & Signal Processing (ICASSP 2015)  </i>

<br><br>

<i>Abstract:</i> This paper investigates the scaling properties of Recurrent Neural
Network Language Models (RNNLMs). We discuss how
to train very large RNNs on GPUs and address the questions
of how RNNLMs scale with respect to model size, training-set
size, computational costs and memory. Our analysis shows that
despite being more costly to train, RNNLMs obtain much lower
perplexities on standard benchmarks than n-gram models. We
train the largest known RNNs and present relative word error
rates gains of 18% on an ASR task. We also present the new
lowest perplexities on the recently released billion word language
modelling benchmark, 1 BLEU point gain on machine
translation and a 17% relative hit rate gain in word prediction.

<!-- <br/><br/><i>(Presented at UKSpeech 2015)</i><br><br/> -->
<div id="cv"> </div>

<br/><br/>
<hr/><hr/>
<br/>
<h3> Curriculum Vitae </h3> 
<br/>
Attached here is my CV.

<div id="contact"> </div>
<br>
<br/> 
<hr/><hr/>
<br/>
<h3>  Contact </h3>

<br/>
To get in touch, email me at <b> np6 [at] princeton [dot] edu</b>. You can also find me on:

<span class="contacticon center">
  <a href="mailto:prasad.niranjani@gmail.com"><i class="fa fa-envelope-square"></i></a>
  <a href="https://github.com/niranjaniprasad" target="_blank"><i class="fa fa-github-square"></i></a>
  <a href="https://uk.linkedin.com/in/niranjani-prasad-a8891a34" target="_blank"><i class="fa fa-linkedin-square"></i></a>
  <!--<a href="http://tumblr.com" target="_blank"><i class="fa fa-tumblr-square"></i></a>
  <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter-square"></i></a> -->
</span>
